<app-slide-show-with-search-bar></app-slide-show-with-search-bar>
<!--<app-suggestions></app-suggestions>-->
<!--<app-footer></app-footer>-->
<!--<app-main-view></app-main-view>-->
<!--<ng-container *ngIf="true">-->
  <!--<app-event-card (click)="redirectToEventProfile(event._id)" (mouseenter)="event.hovered = true"-->
                  <!--(mouseleave)="event.hovered = false"-->
                  <!--*ngFor="let event of events"-->
                  <!--[event]="event"></app-event-card>-->
<!--</ng-container>-->
