/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables.scss";
@import"~angular-star-rating/assets/scss/star-rating";

* {
  box-sizing: border-box;
}
.rating.color-negative .star-container .star {
  svg {
    fill: yellow;
  }
  i {
    color: #0f0;
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: yellow;
  }
  i {
    color: #f00;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: yellow;
  }
  i {
    color: #00f;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}
body {
  font-family: $font-heading;
  margin: 0;
  background-color: $color-background;
}

a {
  color: $color-lighter;
  text-decoration: none;
}

// Workaround for https://github.com/angular/material2/issues/4580.
mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}

snack-bar-container {
  &snack-bar-color {
    height: auto;
    min-width: initial;
  }
  &.warning {
    color: white !important;
    background: $color-accent !important;
    button {
      color: black !important;
    }
  }
  &.confirm {
    color: white !important;
    background: #7FB800 !important;
    button {
      color: white !important;
    }
  }

}
