@import "../../variables.scss";


main{
  background: $color-lighter;
  color: $color-darker;
  border-radius: 5px;
  //overflow: hidden;
  min-width: 600px;

  mat-dialog-actions{
    display: flex;
    flex-direction: column;
    textarea{
      height: 200px;
    }
  }


  h1{
    color: $color-accent;
  }

  button{
    background-color: $color-accent;
    color: $color-lighter;
  }


  footer{
    background: $color-accent;
    color: white;
    padding: 20px
  }
}


