<header>
  <ul class="title">
    <li class="Logo"><a href="/#/"><img src="../../assets/images/bandzLogo.png"></a></li>
  </ul>
  <ul>
    <li *ngIf="!authService.loggedIn()"><a (click)="openSubmitForm()">Sign up</a></li>
    <li *ngIf="!authService.loggedIn()"><a (click)="openLoginForm()">Log in</a></li>

    <li class="createBand" *ngIf="authService.loggedIn()" (click)="createBand()"><a> <button  class="button"mat-fab>
        <i class="material-icons">
            add
            </i>
      </button><div>Create a band</div></a>
    </li>
    <li><a href="#/main">Find bands & events</a></li>
    <li *ngIf="authService.loggedIn()"><a href="#" (click)="onLogout()">Log out</a></li>
  </ul>
</header>
