<main *ngIf="!waiting">
  <header>
    <h1 mat-dialog-title>Create new Event</h1>
  </header>

  <mat-dialog-actions>
    <mat-form-field floatLabel>
      <mat-label>Event Name</mat-label>
      <input [(ngModel)]="name" type="text" matInput placeholder="Event name" required>
    </mat-form-field>

    <mat-form-field floatLabel>
      <mat-label>Venue</mat-label>
      <input [(ngModel)]="venue" type="text" matInput placeholder="Event venue" required>
    </mat-form-field>

    <mat-form-field floatLabel>
      <mat-label>Location</mat-label>
      <input [(ngModel)]="location" type="text" matInput placeholder="Where the event is held (City)" required>
    </mat-form-field>

    <mat-form-field floatLabel>
      <mat-label>Price</mat-label>
      <input [(ngModel)]="price" type="number" matInput placeholder="Ticket price in dollars" required>
      <!--TODO: put a dollar sign in-->
    </mat-form-field>

    <mat-label for="date">Date</mat-label>
    <input type="date" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event">

    <mat-label for="banner">Event Image</mat-label>
    <input id="banner" type="file" name="banner" (change)="handleFileInput($event.target.files)"
           accept=".png, .jpg, .jpeg">

    <mat-form-field floatLabel>
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="description" type="text" matInput
                placeholder="Tell us something interesting about your event" required></textarea>
    </mat-form-field>
  </mat-dialog-actions>

  <p class="alert" *ngIf="!textValid()">Please enter a name, location, venue and description</p>
  <p class="alert" *ngIf="!dateValid()">Please enter a date</p>
  <p class="alert" *ngIf="!imageValid()">Please upload an image</p>
  <p class="alert" *ngIf="!priceValid()">Please enter a price in dollars (up to 100)</p>
  <button *ngIf="formValid()" mat-raised-button (click)="create()">Confirm</button>
</main>
<main *ngIf="waiting">
  <p>Event uploading, please wait...</p>
</main>
