<main>

  <div class="banner editable">
    <button *ngIf="userOwnsThisProfile" class="edit-btn" mat-raised-button id="imageEdit">
      <img src="../../assets/images/iconmonstr-pencil-9.svg"> Edit
    </button>
  </div>
  <div class="headWrap editable">
    <!--TODO: Why is this not in the top corner?-->
    <button *ngIf="showHeadEditButton()" class="edit-btn" mat-raised-button id="titleEdit" (click)="enableEditHead()">
      <img src="../../assets/images/iconmonstr-pencil-9.svg"> Edit
    </button>
    <div class="title" *ngIf="!editingHeadInfo">
      <h1>{{ event?.name }}   </h1>
      <h2>{{event?.city}} {{event?.venueName}}</h2>
    </div>
    <form *ngIf="editingHeadInfo">
      <input type="text" value="{{event.name}}" ref-title_input>
      <input type="text" value="{{event.city}}" ref-location_input><input type="text" value="{{genre}}" ref-genre_input>
      <!-- <button mat-raised-button (click)="submitHeadEdit(title_input.value, location_input.value, genre_input.value)">
        submit
      </button> -->
    </form>

    <div class="buttons">
      <button mat-raised-button>Message</button>
      <button mat-raised-button="" id="rate" (click)="rate()">Rate
        <div *ngIf="rateDropDown" class="dropDown">
          <p>
            1 2 3 4 5
          </p>
        </div>
      </button>
      <button *ngIf="showContent" mat-raised-button (click)="toggleContentGigs()">Gigs</button>
      <button *ngIf="showGigs" mat-raised-button (click)="toggleContentGigs()">Profile</button>
    </div>
  </div>

  <div *ngIf="showContent" class="content">
    <article class="editable">
      <!--TODO: Why is this massive?-->
      <button *ngIf="showBioEditButton()" class="edit-btn" mat-raised-button id="bioEdit" (click)="enableEditBio()">
        <img src="../../assets/images/iconmonstr-pencil-9.svg"> Edit
      </button>
      <p *ngIf="!editingBio">{{ bio }}</p>
      <form *ngIf="editingBio">
        <textarea ref-bio_text>{{bio}}</textarea>
        <button mat-raised-button (click)="submitBioEdit(bio_text.value)">submit</button>
      </form>
    </article>
    <aside class="editable">
      <button *ngIf="userOwnsThisProfile" class="edit-btn" mat-raised-button id="MusicEdit"><img
        src="../../assets/images/iconmonstr-pencil-9.svg"> Edit
      </button>
      <iframe *ngIf="isBand" style="border: 0; width: 350px; height: 470px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=77046358/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
              seamless><a href="http://streetpieces.bandcamp.com/album/everything-you-ever-wanted">Everything You Ever
        Wanted by Street Pieces</a></iframe>

      <img *ngIf="isVenue" src="../../assets/images/fakeMap.JPG">
    </aside>
  </div>

  <ng-container *ngIf="showGigs">
    <div class="event" *ngFor="let gig of gigs">
      <div class="title">
        <h1>{{ gig['name'] }}</h1>
        <h2>{{ gig['date'] }} | {{ gig['venue'] }} | {{ gig['city'] }}</h2>
      </div>
      <button mat-raised-button>Buy tickets</button>
    </div>
  </ng-container>
</main>
