@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  z-index: 999;
  .logInWindow {
    position: relative;
    padding: 10px 5%;
    background: #fc2840;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    .title {
      h1 {
        //hack to position text vertically
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        // font-size:1em;
      }
    }
    .Container {
      width: 100%;
      height: 100%;
      color: white;

      box-sizing: border-box;
      form {
        display: flex;
        flex-direction: column;
        height: 100%;
        mat-form-field {
          mat-label {
            color: white;

          }
          input {
            width: 100%;
          }
          h1{
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

a {
  font-size: 1em;
}
a:hover{
 text-decoration: underline;
}
button{
  border:1px black solid !important;
  color:black !important;
  font-size: 1.2em !important;
  margin-bottom: 1em;
}

button:hover{
  border: 1px black solid !important;
  color: black !important;
  transition: 0.2s;
  cursor: pointer;
}
#lostPassword {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em;
}
.fontSize{
  font-size: 1.5em;
}
#registerAccount {
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.submit {
  background: white;
  color: #fc2840;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}

/** CLOSE BUTTON STYLING **/
.x {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  transition: transform .25s ease-in-out;
}

.x:hover {
  transform: rotate(180deg);
  transition: 0.2s;
}

.x:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 1px solid white;
  transform: rotate(45deg);
  transform-origin: center;
 
}

.x:after {

  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 1px solid white;
  transform: rotate(-45deg);
  transform-origin: center;
}
.x:hover::after{
  border-top: 1px black solid;
}
.x:hover::before{
  border-top: 1px black solid;
}

/** !CLOSE X STYLING **/
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.42);
  flex: 1;
}
////FORMS STYLING
//overriding color for inputs
mat-error {
  color: black !important;
}
mat-hint{
  color: 	#006400 !important;
}
.pending{
  color:  white !important;
  }

/deep/ .mat-focused .mat-form-field-ripple {
  background-color: white !important;
}

/deep/ .mat-focused .mat-form-field-ripple {
  background-color: white !important;
}

/deep/ .mat-form-field-invalid .mat-form-field-ripple {
  background-color: red;
}

// !overriding color for inputs
/deep/ .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

/deep/ .mat-form-field:nth-of-type(1) {
  padding-bottom: 1.25em !important;
}

.passwordMeterContainer {
  padding-bottom: 1.25em;
}
