@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$font-heading: 'Work Sans', sans-serif;

$color-darker: #141414;
$color-dark: #1a1a1a;

$color-light: #d1d1d1;
$color-lighter: #fff;

$color-accent: #fc2840;
$color-accent-dark: #d5293c;

$color-background: #fff;
